---
import Nav from '../../components/Nav.tsx';
import Layout from '../../layouts/Layout.astro';
import '@fontsource/vt323';
---

<Layout title="About">
  <header>
    <Nav client:load />
  </header>
  <main class="w-full h-screen bg-[#141414] flex justify-center items-center">
  <div class="h-screen w-full bg-[#141414] text-white max-w-[476px]">
    <div class="h-screen w-full flex flex-col items-center px-4 text-center">
      <p class="font-jet font-semibold text-white text-xl sm:text-3xl md:text-4xl antialiased mt-24">Hi. I am Animesh.</p>
      <p class="mt-20 ml-4 sm:ml-0 mr-4 sm:mr-0 font-inter text-[#9DA3A1]">
        I have a passion of creating things. Which is why I am into entrepreneurship.
      <p class="mt-10 ml-4 sm:ml-0 mr-4 sm:mr-0 font-inter text-[#9DA3A1]">And I love CS and Art.</p> 
      <p class="mt-10 ml-4 sm:ml-0 mr-4 sm:mr-0 font-inter text-[#9DA3A1]"> I also love
        self improvement and finance because I believe that every human should strive to become a better version, every single day.</p>
      </p>

      <div class="flex flex-row h-32 w-1/2 justify-between items-center mt-12">
        <div class="group relative flex justify-center items-center h-12 w-12">
          <a href="https://x.com/animeshryu" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256">
              <path d="M214.75,211.71l-62.6-98.38,61.77-67.95a8,8,0,0,0-11.84-10.76L143.24,99.34,102.75,35.71A8,8,0,0,0,96,32H48a8,8,0,0,0-6.75,12.3l62.6,98.37-61.77,68a8,8,0,1,0,11.84,10.76l58.84-64.72,40.49,63.63A8,8,0,0,0,160,224h48a8,8,0,0,0,6.75-12.29ZM164.39,208,62.57,48h29L193.43,208Z"></path>
            </svg>
          </a>
          <div class="absolute center-x duration-[800ms] transition-all scale-0 opacity-0 blur-[8px] translate-y-8 group-hover:scale-100 group-hover:opacity-100 group-hover:blur-0 group-hover:-translate-y-2 w-max pointer-events-none bottom-[calc(100%-8px)] z-10 text-center pt-2 pb-3 px-4 border border-[#FFFFFF1A] bg-[#0C0C0CD1] backdrop-blur-[6px] rounded-lg">
            Twitter
            <!-- <div class="text-sm">WEB DESIGN</div> -->
          </div>
        </div>
        <div class="group relative flex justify-center items-center h-12 w-12">
          <a href="https://instagram.com/animeshryu" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256">
              <path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"></path>
            </svg>
          </a>
          <div class="absolute center-x duration-[800ms] transition-all scale-0 opacity-0 blur-[8px] translate-y-8 group-hover:scale-100 group-hover:opacity-100 group-hover:blur-0 group-hover:-translate-y-2 w-max pointer-events-none bottom-[calc(100%-8px)] z-10 text-center pt-2 pb-3 px-4 border border-[#FFFFFF1A] bg-[#0C0C0CD1] backdrop-blur-[6px] rounded-lg">
            Instgram
            <!-- <div class="text-sm">PROFILE</div> -->
          </div>
        </div>
        <div class="group relative flex justify-center items-center h-12 w-12">
          <a href="mailto:animeshryu@gmail.com">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"></path></svg>
          </a>
          <div class="absolute center-x duration-[800ms] transition-all scale-0 opacity-0 blur-[8px] translate-y-8 group-hover:scale-100 group-hover:opacity-100 group-hover:blur-0 group-hover:-translate-y-2 w-max pointer-events-none bottom-[calc(100%-8px)] z-10 text-center pt-2 pb-3 px-4 border border-[#FFFFFF1A] bg-[#0C0C0CD1] backdrop-blur-[6px] rounded-lg">
            Soon
            <!-- <div class="text-sm">CONTACT</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</Layout>