---
import Nav from '../../components/Nav.tsx';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import '@fontsource/vt323';

const posts = await getCollection('newsletter');
---

<Layout title="Newsletter">
  <header>
    <Nav client:load />
  </header>
  <main class="min-h-screen w-full bg-black text-white overflow-auto flex flex-col items-center justify-start py-20">
    <div class="container px-4 mx-auto max-w-[600px]">
      {posts.map((post, index) => (
        <div class="flex flex-col text-center w-full mb-10" key={index}>
          <a class="font-bold text-lg md:text-xl lg:text-2xl mb-2" href={`/letter/${post.slug}`}>
            {post.data.title}
          </a>
          <a class="text-base	md:text-lg text-gray-300" href={`/letter/${post.slug}`}>
            Read Full
          </a>
          <div class="w-full h-px bg-gray-600 mt-4"></div> {/* Divider line */}
        </div>
      ))}
    </div>

    <div class="font-light text-sm text-gray-400 absolute bottom-4 right-4">
      This site is a work in progress
    </div>
  </main>
</Layout>