---
import Nav from '../../components/Nav.tsx';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import '@fontsource/vt323';

const posts = await getCollection('newsletter');
---

<Layout title="Newsletter">
  <header>
    <Nav client:load />
  </header>
  <main class="min-h-screen w-full bg-black text-white overflow-auto flex flex-col items-center justify-start">
    <div class="px-4 flex flex-col max-w-[512px] lg:max-w-[600px] mt-20">
      {posts.map(post => (
        <div class=" flex flex-col text-center w-full font-poppins">
          <a class="font-poppins font-semibold text-white text-xl mb-2" href={`/letter/${post.slug}`}>
            {post.data.title}
          </a>
          <a class="font-inter text-white text-lg mt-4" href={`/letter/${post.slug}`}>
            Read Full
          </a>
          <div class="w-full h-px bg-gray-400 mt-4"></div> {/* Divider line */}
        </div>
      ))}
    </div>

    <div class="font-poppins text-white text-xs sm:text-sm absolute bottom-4 right-4">
      This site is a work in progress
    </div>
  </main>
</Layout>
