---
import Nav from '../../components/Nav.tsx';
import Layout from '../../layouts/Layout.astro';
import '@fontsource/vt323';
---

<Layout title="Contact">
    <header>
        <Nav client:load />
    </header>
    <main class="w-full h-screen bg-[#141414] flex justify-center items-center">
        <div class="h-screen w-full bg-[#141414] text-white max-w-[476px] flex items-center">
            <div>
                <button></button>
            </div>
        </div>
    </main> 
</Layout>