---
import Nav from '../../components/Nav.tsx';
import Layout from '../../layouts/Layout.astro';
import '@fontsource/vt323';
---

<Layout title="Produts">
  <header>
    <Nav client:load />
  </header>
  <main class="w-full h-screen bg-black flex justify-center items-center">
  <div class="font-jet font-semibold text-white text-3xl sm:text-4xl md:text-5xl lg:text-6xl antialiased">
    <!-- <div class="h-screen w-full flex flex-col items-center px-4 text-center">
      <p class="font-jet font-semibold text-white text-xl sm:text-3xl md:text-4xl antialiased mt-24">Hi. I am Animesh.</p>
      <p class="mt-20 ml-4 sm:ml-0 mr-4 sm:mr-0 font-inter text-[#9DA3A1]">
        I have a passion of creating things. And I love CS and Art.
      <p class="mt-10 ml-4 sm:ml-0 mr-4 sm:mr-0 font-inter text-[#9DA3A1]">Which is why I am into entrepreneurship.</p> 
      <p class="mt-10 ml-4 sm:ml-0 mr-4 sm:mr-0 font-inter text-[#9DA3A1]"> I also love
        self improvement and finance because I believe that every human should strive to become a better version, every single day.</p>
      </p>
      <p></p>
    </div> -->
    Coming Soon
    </div>
</main>
</Layout>